html{
    margin: 0%;
    padding: 0px;
    background:rgb(90, 85, 85);
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin:40px;
    margin-top: 0%;
    padding:8px;
    border-top:8px solid rgb(112, 108, 108);
    border-bottom:8px solid rgb(112, 108, 108);
    border-right:8px solid rgb(112, 108, 108);
    border-left:8px solid rgb(112, 108, 108);
    background-color:rgb(212, 211, 211); 
}

.aboutme{
    font-style: bold;
    background-color:  rgb(243, 161, 67); 
    display: block;
   
}

h1{
    font-size: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(243, 161, 67);
    margin-top: .7em;
    margin-left: 2.5em;
    /*border: 5px solid black;*/
    background: rgb(112, 108, 108);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: .2em;
    margin-bottom: .1em;
    -webkit-text-stroke: 2px black;
}

.slap{
    font-size: 1.2em;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: .1em;
    background-color:  rgb(243, 161, 67); 
}

figcaption{
    text-align: center;
    font-weight: bold;

}

.story{
    font-weight: bold;
    font-size: 1.3em;
    margin: .1em;
}

time{
    font-size: 1em;
    font-style: bold;
    text-align: center;
}


p{
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: .7cm;
}

.blog-post{
    border-bottom:1px dotted rgb(0, 0, 0);

}

#para3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h2{
    color: rgb(243, 161, 67);
    font-size: 2em;
    background: rgb(112, 108, 108);
    margin:.1em
}


label{
    font-style: italic;
    color: black;
    align-items: center;
}


section{
    display: flex;
}



article{
    padding:5px;
    margin:10px;
}

header img{
    display: inline-block;
    margin-top: 1.9em;
    margin-left: .9em;
    padding: .2em;
    width: 130; 
    height: 130;
}


.img-container2{
    padding: 1em;
    
    margin: 1em;
    float: left;
   
}


time{
    align-content: center;
}


.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-style: solid;
    background-color: rgb(253, 253, 253);
}



@media (max-width: 900px ) {
    section{
        display:block;
    }

    h1{
        font-size: 2em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(243, 161, 67);
        margin-top: 1em;
        margin-left: 2.5em;
        /*border: 5px solid black;*/
        background: rgb(112, 108, 108);
        display: inline-block;
        vertical-align: top;
        text-align: center;
        padding: .2em;
        margin-bottom: .1em;
        -webkit-text-stroke: 2px black;
    }

    header img{
        display: inline-block;
        margin-top: 1.9em;
        margin-left: .9em;
        padding: .2em;
        width: 20%;
        height: 20%;
    }
}







